@import "tailwindcss";

:root {
  --background: #750D37;
  --foreground: #F5E9DA;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'CheltenhamBT', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'CheltenhamBT';
  src: url('/fonts/Cheltenham BT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

